<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Don Holness</h3>
        <h4> About: <h4>
          <h4> Top skills:</h4>
        <p>...</p>
        <p> <%=render 'invite_modal' %></p>
      </div>
    </div>
  </div>
</div>