<div ng-controller='MapCtrl'>
  <map center="40.7105, -74.0089" zoom="12" style='height:1000px;width:100%'>
    <marker position="[{{marker.lat}},{{marker.lng}}]" ng-repeat='marker in markers' data-id="{{marker.id}}" on-click='infoWindow()'></marker>
  </map>
</div>