<div ng-app='AngularMaps'>
  <div ng-controller='MapCtrl'>
    <map center="40.7105, -74.0089" zoom="15" style="width:100%;height:400px">
      <marker position="{{[marker.lat,marker.lng]}}" ng-repeat='marker in markers' title="Hello World!"></marker>
    </map>
  </div>
</div>
