<div class="cards">
  <div class="card">
    <div class="card-image">

    </div>
    <div class="card-header">
      Don
    </div>
    <div class="card-copy">
      <p>About: we code all day!</p>
      <p> skills: styling and profiling</p>
      <button class='popup'>Invite</button>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
    </div>
    <div class="card-header">
      Niko
    </div>
    <div class="card-copy">
      <p>About: we code all day!</p>
      <p> skills: rails</p>
      <button class='popup'>Invite</button>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
    </div>
    <div class="card-header">
      Antonio
    </div>
    <div class="card-copy">
      <p>About: we code all day!</p>
      <p> skills: angular</p>
        <button class='popup'>Invite</button>
    </div>
  </div>
</div>

