<div class="card">
        <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
        <div class="card-header">
            <%=user.name%>
            <a href="url">Lindedi</a>
        </div>
        <div class="card-copy">
         <p> skills: styling and profiling</p>
            <button class='popup'>Invite</button>
        </div>
      </div>
     <div id="abc">
      <div id="popupContact">
        <form class='invite' action="#" method="post" name="form">
          <h2>Invite</h2>
          <hr>
          <textarea id="msg" name="message" placeholder="Type Question Here!!!"></textarea>
          <a id="submit">Send</a>
        </form>
      </div>
    </div>



