<div class="cards">
  <div class="card">
    <div class="card-image">

    </div>
    <div class="card-header">
      Don
    </div>
    <div class="card-copy">
      <p>About: we code all day!</p>
      <P> skills: styling and profiling</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
    </div>
    <div class="card-header">
      Niko
    </div>
    <div class="card-copy">
      <p>About: we code all day!</p>
      <P> skills: rails</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
    </div>
    <div class="card-header">
      Antonio
    </div>
    <div class="card-copy">
      <p>About: we code all day!</p>
      <P> skills: angular</p>
    </div>

  <div id="abc">
    <div id="popupContact">
      <form action="#" method="post" name="form">
        <h2>Invite</h2>
          <hr>
          <textarea id="msg" name="message" placeholder="Type Question Here!!!"></textarea>
          <a id="submit">Send</a>
      </form>
    </div>
  </div>
  </div>
</div>

