
<%= render 'map'%>

<%=render 'user_cards'%>
<div id="abc">
  <div id="popupContact">
    <form class='invite' action="#" method="post" data-id=<%= @user.id %> name="form">
      <h2>Invite</h2>
      <hr>
      <textarea id="msg" name="message" placeholder="Type Question Here!!!"></textarea>
      <a id="submit">Send</a>
    </form>
  </div>
</div>
