#inbox_nav{
  margin-top: -1em;
  width: 2em;
  height: 1.5em;
}

.pagination {
  display: none;
}

.bold {
  font-weight: bold;
}

.x-button2 {
  margin-left: 15.5em;
  margin-top: -.5em;
}

.x-button {
  margin-left: 15.5em;
}

#navbutton{
  @include shift(.7);
  z-index: 800;
  background-color: #98DFAF;
  box-shadow: 0px 0px 8px 0px #000000;
  width: 7em;
  height: 7em;
}

.sliding-panel-content {
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $sliding-panel-border-color: $dark-gray;
  $sliding-panel-background:  rgba(34,34,34,0.75);
  $sliding-panel-color: #fff;
  $sliding-panel-border: 1px solid $sliding-panel-border-color;
  $sliding-panel-background-hover: $action-color;
  $sliding-panel-color-hover: #fff;
  $sliding-panel-background-focus: lighten($sliding-panel-background, 5%);

  @include position(fixed, 0px auto 0px 0px);
  @include size(220px 100%);
  @include transform(translateX(-220px));
  @include transition(all 0.25s linear);
  background: $sliding-panel-background;
  z-index: 999999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  li a {
    border-bottom: $sliding-panel-border;
    color: #98DFAF;
    display: block;
    font-weight: bold;
    padding: 1em;
    text-decoration: none;

    &:focus {
      background-color: $sliding-panel-background-focus;
    }

    &:hover {
      background-color: #7C5EAA;
      color: $sliding-panel-color-hover;
    }
  }

  &.is-visible {
    @include transform(translateX(0));
  }
}

.sliding-panel-fade-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}

.sliding-panel-button {
  padding: 10px 16px 20px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  outline: none;

  img {
  position: absolute;
  margin-left: -1.1em;
  margin-top: -3.6em;
  height: 80%;
  -webkit-filter: invert(100%);
  }
}

#notify {
  left: 0;
  right: 0;
  bottom: 1em;
  top: 0em;
  height: 2em;
}

.buy-title {
  /*color: #FFFFFB;
  @include span-columns(3);
  z-index: 10001;
  position: absolute;
  @include shift(2.15);
  margin-top: -2.5em;
  /*text-shadow: 3px 3px 3px #000000;*/
/*  font-size: 3em;*/

   /* font-size: 3em; */
  position: absolute;
  margin-left: 64px;
  font-size: 32px;
  /*margin-top: -109px;*/
  color: #FFFFFB;
  z-index: 10000;
  font-size: 29px;
  width: 6em;
  color: white;
}
