.popup{
  margin-left: -.2em;
}

.popup1 {
  margin-left: -.1em;
}

.cards {
  @include span-columns(12);
}

#rater {
  margin-top: 10em;
  @include shift(5)
}

#x-button3{
  background-color: #98DFAF;
  margin-right: 1em;
  @include shift(4);
}

#abc,
#abc1,
#abc2 {
z-index: 1500;
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}
img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
div#popupContact,
div#popupContact1 {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
}
form.invite {
max-width:350px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
background-color:#fff
}
p {
margin-top:30px
}
h2 {
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}
input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
}
#name {
background-image:url(../images/name.jpg);
background-repeat:no-repeat;
background-position:5px 7px
}
#email {
background-image:url(../images/email.png);
background-repeat:no-repeat;
background-position:5px 7px
}
textarea {
background-repeat:no-repeat;
background-position:5px 7px;
width:100%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
margin-bottom:30px
}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
color:#fff;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
div.separate {
  border: .2em solid #4b9b9b;
  word-wrap: break-word;
  width: 100%;
  margin-left: -10px;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px 0px gray;
  -moz-box-shadow: 0px 0px 8px 0px gray;
  box-shadow: 0px 0px 15px 0px gray;
}

.x-button.message{
  margin-left: 0;
  margin-top: 0;
  float: right;
}

.messages{
  font-weight: 800;
}
