<button type="button" id= "navbutton" class="js-menu-trigger sliding-panel-button">
 <%=image_tag 'cup.png'%>
</button>

<nav class="js-menu sliding-panel-content">
  <ul>
    <li><a href="javascript:void(0)"><%= link_to('Home', root_path) %></a></li>
    <% if session[:user_id] %>
    <li><%= link_to('Profile', user_path(session[:user_id])) %></li>
    <li><%=link_to 'Logout', logout_path %></li>
    <% else %>
      <li id='login'><a href="javascript:void(0)">Login</a></li>
    <%end%>
  </ul>
</nav>

<div class="js-menu-screen sliding-panel-fade-screen"></div>
