<div id='abc2'>
  <div id="rater">
    <div id="popupContact1">
      </div><div class="dropdown">

        <div class="dropdown-container">
          <u class="dropdown-description"><button class="x-button3">X</button></u>
          <p class="dropdown-button">Click to Rate</p>
          <ul class="dropdown-menu dropdown-select">
            <li class='rating'>1</li>
            <li class='rating'>2</li>
            <li class='rating'>3</li>
            <li class='rating'>4</li>
            <li class='rating'>5</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>