<div class="cards">
  <div class="card">
    <div class="card-image">

    </div>
    <div class="card-header">
        <%=user.name%>
    </div>
    <div class="card-copy">

      <p> skills: styling and profiling</p>
      <button id='<%= user.id %>' class='popup'>Invite</button>
    </div>
  </div>
</div>