<div>
  <div id="popupContact">
    <h1> test</h1>
    <% invitations.each do |invitation| %>
      <div>
        <div><%= invitation.agreed_time %></div>
        <div><%= invitation.location %></div>
        <div><button>Accept</button></div>
      </div>
    <% end %>
  </div>
</div>
